{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Profile of: {{ user }}</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4">
            <div class="small-box" style="background: url('https://cdn.mxone.host/steemit_banner.jpg?v=2.1.2');">
                <div class="inner" style="text-align:center;background: rgba(255,255,255,0.6);">
                    <h3 id="accepted_moderated_count"><i class="fa fa-spin fa-spinner"></i></h3>
                    <p>Accepted posts</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="small-box" style="background: url('https://cdn.mxone.host/steemit_banner.jpg?v=2.1.2');">
                <div class="inner" style="text-align:center;background: rgba(255,255,255,0.6);">
                    <h3 id="total_moderated"><i class="fa fa-spin fa-spinner"></i></h3>
                    <p>Moderated posts</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="small-box" style="background: url('https://cdn.mxone.host/steemit_banner.jpg?v=2.1.2');">
                <div class="inner" style="text-align:center;background: rgba(255,255,255,0.6);">
                    <h3 id="rejected_moderated_count"><i class="fa fa-spin fa-spinner"></i></h3>
                    <p>Accepted posts</p>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h3>Accepted Posts</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th width="100px">Created</th>
                    <th width="100px">Moderated</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="accepted_posts"></tbody>
            </table>
        </div>
        <div class="col-md-6 col-xs-12">
            <h3>Rejected Posts</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th width="100px">Created</th>
                    <th width="100px">Moderated</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="rejected_posts"></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/javascripts/dashboard.js"></script>
    <script>
      $(function () {
        updateModeratorStatistic("{{ user }}");
        getAcceptedPosts("{{ user }}", 0, 50, function () {
          getAcceptedPosts("{{ user }}", 50, 50);
        });

        getRejectedPosts("{{ user }}", 0, 50, function () {
          getRejectedPosts("{{ user }}", 50, 50);
        });

        setInterval(() => {
          updateModeratorStatistic("{{ user }}");
        }, 1000);
      })
    </script>
{% endblock %}